# Игнорировать папку .vscode
.vscode/

# Игнорировать Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# файлы баз данных
*.db
/db


# Игнорировать .env
.env

# Игнорировать другие временные файлы
*.log
*.pid
*.seed
*.gz
*.zip